a{
    color: #333333;
    text-decoration: none;
}
a:link{
    color: #900;
}
a:visited{
    color: #003399;
}
a:hover{
    background-color: #CCC;
}
input:focus{
    background-color: #000;
    color: #FFF;
}
input:hover{
    background-color: #FF0000;
}
ul li:first-child{
    background-color: #090;
}
ul li:last-child{
    color: #6633CC;
}
ul li:nth-child(2){
    color: #FF6;
}